.App {

}
body{
  background-color: #7ed6df;
}

.appTitle {
  position: center;
  text-align: center;
  color: black;
  font-size: 55px;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-stretch: ultra-expanded;
  letter-spacing: 20px;
  margin-bottom: auto;
  margin-top: auto;
}
.aboutContainer{
  display: table;
  width: 100%;
}

.aboutTexts{
  position: absolute;
  width: 75%;
  left: 0px;
}

.bitEats{
  position: absolute;
  width: 25%;
  right: 300px;
  top: 150px;
}
.aboutWhat{
  letter-spacing: 5px;
  font-family: "Arial", sans-serif;
  font-size: 22px;
  margin: 1em;
}
.aboutIntro{
  font-family: "Arial", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 1em;
  padding-right: 45%;
}

.belpTitle {
  font-family: "Arial", sans-serif;
  font-size: 17px;
  letter-spacing: 5px;
  padding-right:550px;
  padding-top: 5px;
}
.verticalLine {
  border-left: 4px solid black;
  height: 750px;
  /* left: 50%; */
  /* margin-left: -3px; */
  grid-column-start: 2;
}

.appHeader {
  display:flex;
  align-items: flex-end;
  font-style: italic;
  color: black;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-stretch: ultra-expanded;
  letter-spacing: 7px;
  padding-top: 10px;
  padding-left: 400px;

}
.App-link {
  color: black;
  text-decoration: none;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px;
  border-style: solid;
  background: linear-gradient(to right,#FDA7DF,#f9ca24);

}
.ButtonsSection{
  display: flex;
  flex-direction: row;
  padding-left: 15px;

}
.button {
  font-size: 15px;
  letter-spacing: 8px;
  text-align: center;
  font-family: "Arial", sans-serif;
  margin: 1em;
  color: white;

}

.mainMenu {
  display: grid;
  grid-template-columns: 50% 2.5% 47.5%;
  border-style: solid;
}
.menuOptionsLocation{
  font-size: 15px;
  text-align: center;
  padding-top: 235px;
  padding-bottom: 323px;
  letter-spacing: 10px;
  grid-column-start: 1;
}

.barsLocation2{
  font-size: 15px;
  text-align: center;
  padding-top: 235px;
  padding-bottom: 323px;
  letter-spacing: 10px;
  grid-column-start: 3;



}

.body{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.contact{
  width: 20%;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    flex-direction: row;
    display: inline-block;
    text-align: center;
}

.contactPitch{
  font-family: "Arial", sans-serif;
  font-size: 25px;
  font-style: italic;
  letter-spacing: 20px;

}
.bitImg{
  height: 200px;
  width: 200px;
}

.img{
  height: 200px;
  width: 300px;
  align-self: center;
}

.links{
  padding: 20px;
}

.restaurant-page{
  display: flex;
  flex-direction: column;
}

.headerText{
  align-self: center;
}

table, th, td {
  border: 2px solid black;
  align-self: center;
}

Restaurants{
  display: flex;
  flex-direction: column;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
