.App {

}

body{
  /* background-color: #fdcb6e; */
  /* background: linear-gradient(to right,#FDA7DF,#12CBC4); */
  /* background: linear-gradient(to right,#7efff5, #ffcccc); */
  background-color: #7ed6df;

}

.appTitle {
  position: center;
  text-align: center;
  color: black;
  /* background-color: #ABEBC6; */
  /* background-color: #FDA7DF; */
  /* background-color: #FFC312; */
  font-size: 55px;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-stretch: ultra-expanded;
  letter-spacing: 20px;
  margin-bottom: auto;
  margin-top: auto;


}
button:link{
  text-decoration: underline;
}
button:visited{
  text-decoration: underline;
}

.verticalLine {
  border-left: 4px solid black;
  height: 750px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 150px;
  top: 130px;
}
  /* .bobby {
    text-align: left;
    position: left;
    letter-spacing: 5px;
    font-size: 15px;
  } */

.appHeader {
  display:flex;
  align-items: flex-end;
  font-style: italic;
  color: black;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-stretch: ultra-expanded;
  letter-spacing: 7px;
  padding-top: 10px;
  padding-left: 400px;


}
/* .LittleIntro{
  padding-top: 0px;
  padding-top: 10px;

  text-align: center;
} */

.App-link {
  color: black;
  text-decoration: none;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: #ABEBC6; */
  /* background-color: #0652DD; */
  margin: 0px;
  border-style: solid;
  /* background-color: #FFC312; */
   background: linear-gradient(to right,#FDA7DF,#f9ca24);

}
.ButtonsSection{
  display: flex;
  flex-direction: row;
  padding-left: 15px;


}
.button {
  font-size: 15px;
  letter-spacing: 8px;
  text-align: center;
  font-family: "Arial", sans-serif;
  margin: 1em;
  color: white;

}

.mainMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  border-style: solid;

}

.menuOptionsLocation{
    font-size: 15px;
  text-align: center;
  padding-top: 235px;
  padding-bottom: 323px;
  letter-spacing: 10px;

}

.body{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.lakeview{
  height: 200px;
  width: 200px;
}
.applebee{
  height: 200px;
  width: 200px;
}

.qq{
  height: 200px;
  width: 200px;
}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.contact{
  width: 25%;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    flex-direction: row;
    display: inline-block;
    text-align: center;



}


.bobby{
  height: 200px;
  width: 200px;
}

/* .desc{
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
} */

.contactUsMore {
  font-family: "Arial", sans-serif;
  font-size: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
