.App {
  text-align: center;
}

.appTitle {
  background-color: #22AFFF;
  font-style: italic;
  position: center;
  text-align: center;
  color: purple;
}

.appHeader {
  background-color: #22AFFF;
  font-style: italic;
  position: center;
  text-align: center;
  color: purple;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
